*{
	margin: 0;
	padding: 0;
	
}
body{
	font-size: 16px;
	font-family: sans-serif;
	}
/*
Estilos do cabeçalho
*/
#cabeçalho{
	
	width: auto;
	height:65 px;

}
#cabeçalho img{
	
	width: 320px;
	height: 63px;
}
#menu{
	background: #424242;
	color:#fff;
	height: 40px;

}
#menu ul{
	
	width: auto;
	padding-top:5px;
	list-style-type: none;

}

ul a{
	
	display: block;
	line-height: 1.5em;
	text-decoration: none;
	text-align:center;
	padding: 0em 2em;
	margin: 3px 0px;
	
}
li{
	float: left;
}
a:link, a:visited{
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
/*macando pagina atual*/
#menu #navegacao .home a,#menu #navegacao .dowloads a{
	background:#6E6E6E;
	color: #fff;

}